<div class="row">
  <div class="col-xs-12">
      <form>
          <div class="row">
            <div class="col-xs-12">
              <input
                class="form-group"
                type="text"
                id="name"
                name="name"
                placeholder="type name">
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <textarea
                class="form-group"
                id="description"
                name="description">
              </textarea>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <input
                class="form-group"
                type="text"
                id="imagePath"
                name="imagePath"
                placeholder="type image src">
            </div>
          </div>
        </form>
  </div>
</div>
